<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue.page</title>
    <script src="vue.js"></script>
    <script src="vue-resource"></script>
</head>
<body>
<div id="app">
    <div class="events">
        <div class="date-selector">
            <label for="date">events for:</label>
            <input type="date" id="date" name="date" v-model="datestr"
                   min="2018-01-01" max="2018-12-31"/>
            <button v-on:click="prev">prev</button>
            <button v-on:click="next">next</button>
        </div>
        <div v-for="event in events">
            <button v-on:click="like(event.id)">like</button>
            <button v-on:click="stop(event.id)">stop</button>
            <span v-bind:title="event.description">{{event.name}}</span>
        </div>
        <button v-on:click="next">next</button>
        <footer>
            footer: For guide and {{ message }} on how to
        </footer>
    </div>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            datestr: utc = new Date().toJSON().slice(0, 10),
            users: [],
            events: [{id: 2423423, name: 'party'}, {id: 5345463, name: 'conference'}, {
                id: 47363433,
                name: 'concert'
            }]
        },
        created: function () {
            console.log('created vue');
            //this.$http.get('http://jsonplaceholder.typicode.com/users').then(response => {
            this.$http.get('http://127.0.01:5000/events').then(response => {
                // get body data
                this.events = response.body;
            }, response => {
                // error callback
            });
        },
        methods: {
            selected: function (id) {
                console.log(id);
            },
            getevents: function () {
                this.$http.get('http://127.0.01:5000/events/'+this.datestr).then(response => {
                    this.events = response.body;
                }, response => {
                    // error callback
                });
            },
            next: function () {
                var day = new Date(this.datestr);
                var nextDay = new Date();
                nextDay.setDate(day.getDate()+1);
                this.datestr = nextDay.toJSON().slice(0, 10)
            },
            prev: function () {
                var day = new Date(this.datestr);
                var nextDay = new Date();
                nextDay.setDate(day.getDate()-1);
                this.datestr = nextDay.toJSON().slice(0, 10)
            },
            evbar: function () {
            }
        },
        watch: {
            datestr: function () {
                this.getevents();
            }
        }
    })
</script>
</body>
</html>